@page "/"
@using BlazorAppAntDemo.Models

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<br />
<br />

<Space>
  <SpaceItem>
    <Button Type="primary" OnClick="@(()=>this.OnDialogOpen())">
      Add Record
    </Button>
  </SpaceItem>
</Space>
<Space>
  <SpaceItem>
    <Button Type="primary" OnClick="@(()=>OnEditRecord())">
      Edit Record
    </Button>
  </SpaceItem>
</Space>
<Space>
  <Button Type="default" OnClick="this.Success">
    Success
  </Button>
</Space>

<br />
<br />

<Table TItem="RecordModel" DataSource="@this.RecordList">
  <Column Title="Id" @bind-Field="@context.Id" Sortable />
  <Column Title="Title" @bind-Field="@context.Title" Sortable />
  <Column Title="Description" @bind-Field="@context.Description" Sortable />
  <Column Title="Date" @bind-Field="@context.Date" Sortable />
</Table>

<Modal Title="Create new record"
       Style="width:80%"
       BodyStyle="height:65vh;overflow-y:auto;"
       Visible="@this.isDialogVisible"
       Draggable="@(true)"
       OkText="@("Submit")"
       OnOk="this.OnSubmitForm"
       OnCancel="(e)=>{this.isDialogVisible = false;}">
  <Form @ref="@_form" 
        Model="this.RecordModel"
        Layout="@FormLayout.Vertical"
        OnFinish="(e) => this.OnCreateNewDiaryRecord()">
    <FormItem>
      <Record RecordModel=this.RecordModel />
    </FormItem>
    @*    <FormItem WrapperColOffset="8" WrapperColSpan="16">
      <Button Type="@ButtonType.Primary" HtmlType="submit">
      Submit
      </Button>
      <Button OnClick="(e)=>{this.isDialogVisible = false;}">Cancel</Button>
      </FormItem>*@
  </Form>
</Modal>
