@using BlazorAppAntDemo.Models

<Template>
  <Collapse DefaultActiveKey="@(new[] { "1" })"
            OnChange="this.Callback"
            ExpandIconPosition="@this.ExpandIconPosition"
            ExpandIcon="caret-right">
    <Panel Header="Basic information" Key="1">
      <FormItem Label="Record title" NoStyle>
        <Input @bind-Value="@this.RecordModel.Title" />
      </FormItem>
      <FormItem Label="Description">
        <CkEditor5 EditorHeight="200px" @bind-Value="@this.RecordModel.Description"/>
        @*<EditorComponent EditorHeight="200px" @bind-EditorValue="@this.RecordModel.Description"></EditorComponent>*@
      </FormItem>
      <FormItem Label="Date" NoStyle>
        <DatePicker @bind-Value="@this.RecordModel.Date" ShowTime="@true" OnChange="this.OnDateSelected" />
      </FormItem>
    </Panel>
    <Panel Header="Attachments" Key="3">
      <ChildContent>


        <span class="ant-upload-picture-card-wrapper">
          <label class="avatar-uploader" for="upload">
            <div class="ant-upload ant-upload-select-picture-card ant-upload-select">
              <div tabindex="0" class="ant-upload" style="position:relative;">
                <InputFile OnChange="@this.OnFileSelection" multiple id="upload" hidden accept=".png,.jpg,.jpeg,.gif" />
                <div class="row">
                  @if (this.ImgUrls.Any())
                  {
                    @foreach (var url in this.ImgUrls)
                    {
                      <div>
                        <img src="@url" alt="avatar" style="width: 100%" />
                      </div>
                    }
                  }
                  else
                  {
                    <div>
                      <Icon Spin="this.loading" Type="@(this.loading?"Loading":"plus")"></Icon>
                      <div className="ant-upload-text">Upload</div>
                    </div>
                  }
                </div>
              </div>
            </div>
          </label>
        </span>

      </ChildContent>
    </Panel>
    <Panel Header="Another one 1" Key="4">
      <ChildContent>
        <h3>Hola</h3>
      </ChildContent>
    </Panel>
    <Panel Header="Another one 2" Key="5">
      <ChildContent>
        <h3>Hola 2</h3>
      </ChildContent>
    </Panel>
    <Panel Header="Another one 3" Key="6">
      <ChildContent>
        <h3>Hola 3</h3>
      </ChildContent>
    </Panel>
  </Collapse>
</Template>

@code {

}
