@using BlazorAppAntDemo.Models

<Template>
  <Collapse DefaultActiveKey="@(new[] { "1" })"
            OnChange="this.Callback"
            ExpandIconPosition="@this.ExpandIconPosition"
            ExpandIcon="caret-right">
    <Panel Header="Basic information" Key="1">
      <FormItem Label="Record title" NoStyle>
        <Input @bind-Value="@this.DiaryRecord.Title" />
      </FormItem>
      <FormItem Label="Description" NoStyle>
        <Input @bind-Value="@this.DiaryRecord.Description" />
      </FormItem>
      <FormItem Label="Date" NoStyle>
        <DatePicker @bind-Value="@this.DiaryRecord.Date" ShowTime="@true" OnChange="this.OnDateSelected" />
      </FormItem>
    </Panel>
    <Panel Header="Personell" Key="2">
      <ChildContent>
        <Button OnClick="this.AddNew" Type="primary" Style="margin-bottom:16px">
          Add person
        </Button>
        <Table DataSource="this.PersonellData" RowClassName="@(_=>"editable-row")" Bordered Size=@TableSize.Small>
          <Column Title="Id" DataIndex="@nameof(context.Id)" TData="int"></Column>
          <Column Title="Name" DataIndex="@nameof(context.Name)" TData="string"></Column>
          <Column Title="From" TData="DateTime">
            <TimePicker TValue="DateTime?" @bind-Value="@context.From" />
          </Column>
          <Column Title="Category" DataIndex="@nameof(context.Category)" TData="string">
            <Select DataSource="@this.CategoryList"
                    @bind-Value="@this.selectedCategoryValue"
                    LabelName="@nameof(Category.CategorySymbol)"
                    ValueName="@nameof(Category.CategorySymbol)"
                    DefaultActiveFirstItem="false"
                    EnableSearch
                    OnSelectedItemChanged="this.OnSelectedCategoryChangedHandler">
            </Select>
          </Column>
          <ActionColumn Title="Action">
            <Popconfirm Title="Sure to delete?"
                        OnConfirm="()=> this.Delete(context.Id)"
                        OkText="Yes"
                        CancelText="No">
              <Button Danger>Delete</Button>
            </Popconfirm>
          </ActionColumn>
        </Table>
      </ChildContent>
    </Panel>
    <Panel Header="Attachments" Key="3">
      <ChildContent>


        <span class="ant-upload-picture-card-wrapper">
          <label class="avatar-uploader" for="upload">
            <div class="ant-upload ant-upload-select-picture-card ant-upload-select">
              <div tabindex="0" class="ant-upload" style="position:relative;">
                <InputFile OnChange="@this.OnFileSelection" multiple id="upload" hidden accept=".png,.jpg,.jpeg,.gif" />
                <div class="row">
                  @if (this.ImgUrls.Any())
                  {
                    @foreach (var url in this.ImgUrls)
                    {
                      <div>
                        <img src="@url" alt="avatar" style="width: 100%" />
                      </div>
                    }
                  }
                  else
                  {
                    <div>
                      <Icon Spin="this.loading" Type="@(this.loading?"Loading":"plus")"></Icon>
                      <div className="ant-upload-text">Upload</div>
                    </div>
                  }
                </div>
              </div>
            </div>
          </label>
        </span>

      </ChildContent>
    </Panel>
  </Collapse>
</Template>

@code {

}
